/**Color Palette**/
/**Dominant: #0b1d51**/
/**Secondary: #02c6e4 (also white and black)**/
/**Accent: #7A6C5D**/

/**Add scroll animations l8r**/

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none
}

/**Intro section**/
.intro {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/**Make h1 responsive - and maybe p as well (looks 
bad when width gets smaller than 730px) **/
.intro>h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

h1 span {
    color: #02c6e4;
}

.intro p {
    font-size: 1rem;
    margin-bottom: 100px;
}

.down-arrow:hover {
    opacity: 60%;
}

/**About section**/
/**Missing something, don't know what at the moment tho**/
#about {
    height: 75vh;
    background-color: #0b1d51;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-of-me img {
    width: 300px;
    border-radius: 8px;
}

.text {
    width: 425px;
    margin-right: 200px;
}

.text h2 {
    font-size: 2.5rem;
}

.text p:first-of-type {
    margin: 50px 0 20px 0;
}

p strong {
    color: #02c6e4;
}

/**Tech section**/
#tech {
    height: 70vh;
    margin: 40px 0 10px 0;
    /**Adding so you can experiment later**/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tech h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/**Make grid display 2 in each column after screen size is too small**/ 
/**Possibly change from grid to flex (content > layout)**/
.logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #0b1d51;
    border-radius: 5px;
    padding: 0 20px;
}

.logos a {
    /**Polish border around logos (different color, etc.)**/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid lightblue;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
    padding: 10px;
}

.logos a:hover {
    opacity: 80%;
}

.logos a img {
    margin-bottom: 8px;
    min-width: 5em;
    width: 11vw;
    filter: drop-shadow(0 0 1.2px black);
}

.logos a p {
    color: #02c6e4;
    font-size: 1.2rem;
}

/**Projects section**/
#projects {
    display: flex;
    justify-content: center;
}