/**Color Palette**/
/**Dominant: #0b1d51**/
/**Secondary: #02c6e4 (also white and black)**/
/**Accent: #7A6C5D**/

* {
    margin: 0px;
    box-sizing: border-box;
}

.about {
    background-color: #0b1d51;
    color: white;
    font-family: sans-serif;
}

.name {
    color: #02c6e4;
}

p strong {
    color: #02c6e4;
}

.about {
    display: flex;
}

